<img src="<%= game.background_image %>" alt="<%= game.name %>" srcset="">
<div>
    <h3>Title: <%= game.name %></h3>
    
    
    <p>Developer:

        <% game.developers.forEach(function(result) { %>
           
               <%= result.name %>
           
          <% }); %>
    </p>
    <p>Publisher:

        <% game.publishers.forEach(function(result) { %>
           
               <%= result.name %>
           
          <% }); %>
    </p>
    <p>Genre:

        <% game.genres.forEach(function(result) { %>
           
               <%= result.name %>
           
          <% }); %>
    </p>

    <p>Platform:

        <% game.platforms.forEach(function(result) { %>
           
               <%= result.platform.name %>
           
          <% }); %>
    </p>
    
    
    <p>Released: <%= game.released %> </p>

    <p>Description: <%= game.description %></p>
</div>