<% if (!currentUser) { %>
  <h6 class="text-primary">Game Tracker App allows you to track games you have played and leave comments for the games. You can still search for games and look at game details. If you would like to take full advantage of the app, please create an account or log in.</h6>
<% } else {%>
<% } %>
<div class="details">
  <img  src="<%= game.background_image %>" alt="<%= game.name %>" srcset="">
    <h3 class="text-primary">Title: <%= game.name %></h3>
    
    
    <p><strong>Developer:</strong>

        <% game.developers.forEach(function(result) { %>
           
               <%= result.name %>
           
          <% }); %>
    </p>
    <p><strong>Publisher:</strong>

        <% game.publishers.forEach(function(result) { %>
           
               <%= result.name %>
           
          <% }); %>
    </p>
    <p><strong>Genre:</strong>

        <% game.genres.forEach(function(result) { %>
           
               <%= result.name %>
           
          <% }); %>
    </p>

    <p><strong>Platform:</strong>

        <% game.platforms.forEach(function(result) { %>
           
               <%= result.platform.name %>
           
          <% }); %>
    </p>
    
    
    <p><strong>Released: </strong><%= game.released %> </p>
    <p><strong>Metacritic:</strong> <%= game.metacritic %></p>

    <p><strong>Description:</strong> <%= game.description %></p>

    <form method="POST" action="/games/played">
    
        
        <input type="hidden" id="gameTitle" name="gameTitle" value="<%= game.name %>">
        <input type="hidden" id="gameRawgId" name="gameRawgId" value="<%= game.id %>">
        <input type="hidden" id="gameImage" name="gameImage" value="<%= game.background_image %>">
        
        <input type="submit" class="btn btn-primary" value="Add to Played">
    </form>
  </br>
  </br>

  <h5>Comments</h5>
  <% comments.forEach(function(comment) { %>
    <div class="card">
      
        <p> 
          <%= comment.comment %>
        </br>
           <strong>- <%= comment.user.name %></strong> 
          
        </p>
      </div>
      </br>
        <% if (currentUser && comment.userId === currentUser.id) { %>
          <div class="form-inline comments">

            <form method="GET" action="/games/comments/edit/<%= comment.id %>">
              
              <input type="submit" class="comments btn btn-primary"value="Edit">
            </form>
            <form method="POST" action="/games/comments/?_method=DELETE">
              <input type="hidden" id="commentId" name="commentId" value="<%= comment.id %>">
              <input type="hidden" id="gameId" name="gameId" value="<%= comment.gameId %>">
              <input type="submit" class="comments btn btn-primary" value="Delete">
            </form>
          </div>
        </br>
  
        <% } else {%>
          
        
        <% } %>
    <% }) %>
    <form action="/games/:id/comments" method="POST">
       
        
        
        <div class="form-group">
          <label for="content">Add a comment</label></br>
          <textarea type="text" class="form-control" id="content" name="content" required></textarea>
        </div>
        <input type="hidden" id="gameTitle" name="gameTitle" value="<%= game.name %>">
        <input type="hidden" id="gameRawgId" name="gameRawgId" value="<%= game.id %>">
        <input type="hidden" id="gameImage" name="gameImage" value="<%= game.background_image %>">
        <input type="submit" class="btn btn-primary">
      </form>
    </br>
    </br>
    </br>
</div>


