<img class="details" src="<%= game.background_image %>" alt="<%= game.name %>" srcset="">
<div>
    <h3>Title: <%= game.name %></h3>
    
    
    <p>Developer:

        <% game.developers.forEach(function(result) { %>
           
               <%= result.name %>
           
          <% }); %>
    </p>
    <p>Publisher:

        <% game.publishers.forEach(function(result) { %>
           
               <%= result.name %>
           
          <% }); %>
    </p>
    <p>Genre:

        <% game.genres.forEach(function(result) { %>
           
               <%= result.name %>
           
          <% }); %>
    </p>

    <p>Platform:

        <% game.platforms.forEach(function(result) { %>
           
               <%= result.platform.name %>
           
          <% }); %>
    </p>
    
    
    <p>Released: <%= game.released %> </p>
    <p>Metacritic: <%= game.metacritic %></p>

    <p>Description: <%= game.description %></p>

    <form method="POST" action="/games/played">
    
        
        <input type="hidden" id="gameTitle" name="gameTitle" value="<%= game.name %>">
        <input type="hidden" id="gameRawgId" name="gameRawgId" value="<%= game.id %>">
        <input type="hidden" id="gameImage" name="gameImage" value="<%= game.background_image %>">
        
        <input type="submit" value="Add to Played">
    </form>

</div>

</div>
<% comments.forEach(function(comment) { %>
    <div class="well">
      <p>
        <%= comment.comment %>
      </br>
        <strong>- <%= comment.user.name %>, <%= comment.userId %></strong> 
        
      </p>
      <% if (currentUser && comment.userId === currentUser.id) { %>
        <form method="GET" action="/games/comments/edit/<%= comment.id %>">
          
          <input type="submit" value="Edit">
        </form>
        <form method="POST" action="/games/comments/?_method=DELETE">
          <input type="hidden" id="commentId" name="commentId" value="<%= comment.id %>">
          <input type="hidden" id="gameId" name="gameId" value="<%= comment.gameId %>">
          <input type="submit" value="Delete">
        </form>

      <% } else {%>
        
      <% } %>
    </div>
  <% }) %>


<form action="/games/:id/comments" method="POST">
   
    
    
    <div class="form-group">
      <label for="content">Comment</label></br>
      <textarea type="text" class="form-control" id="content" name="content" required></textarea>
    </div>
    <input type="hidden" id="gameTitle" name="gameTitle" value="<%= game.name %>">
    <input type="hidden" id="gameRawgId" name="gameRawgId" value="<%= game.id %>">
    <input type="hidden" id="gameImage" name="gameImage" value="<%= game.background_image %>">
    <input type="submit" class="btn btn-primary">
  </form>