<img src="<%= game.background_image %>" alt="<%= game.name %>" srcset="">
<div>
    <h3>Title: <%= game.name %></h3>
    <p>Genre: <%= game.genres[0].name %></p>
    <p>Developer: <%= game.developers[0].name %></p>
    <p>Publisher: <%= game.publishers[0].name %></p>
    <p>Released: <%= game.released %> </p>
</div>